<div class="container">
    <div *ngIf="users$ | async as users;">
        <div class="row">
            <div class="button-bar">
                <button class="btn btn-outline-success" (click)="setActive()">Set as Active</button> &nbsp;
                <button class="btn btn-outline-danger" (click)="setInactive()">Set as Inactive</button> &nbsp;
                <label class="switch">
                    <input type="checkbox" (change)="toggleInactive()" >
                    <span class="slider round"></span>
                </label>&nbsp;&nbsp;
                <label>Show Inactive</label>
            </div>
        </div>
        <div class="row grid">
            <wj-flex-grid #flex [itemsSource]="users" 
                [selectionMode]="5" 
                [headersVisibility] = "1"
                (initialized)="initW3C(flex, filter)">
                <wj-flex-grid-filter #filter></wj-flex-grid-filter>
                <wj-flex-grid-column [header]="'Id'" [binding]="'id'" [width]="40"></wj-flex-grid-column>
                <wj-flex-grid-column [header]="'Full Name'" [binding]="'name'" [width]="165"></wj-flex-grid-column>
                <wj-flex-grid-column [header]="'Username'" [binding]="'username'" [width]="145"></wj-flex-grid-column>
                <wj-flex-grid-column [header]="'Email'" [binding]="'email'" [width]="215"></wj-flex-grid-column>
                <wj-flex-grid-column [header]="'Phone'" [binding]="'phone'" [width]="200"></wj-flex-grid-column>
                <wj-flex-grid-column [header]="'Website'" [binding]="'website'" [width]="115"></wj-flex-grid-column>
                <wj-flex-grid-column [header]="'Active'" [binding]="'active'" [width]="85"></wj-flex-grid-column>
                <wj-flex-grid-column [header]="'Percent'" [binding]="'percent'" [format]="'p2'" [width]="95"></wj-flex-grid-column>
                <wj-flex-grid-column [header]="'Cash On Hand'" [binding]="'cashOnHand'" [format]="'c'" [width]="150"></wj-flex-grid-column>
            </wj-flex-grid> 
        </div>
    </div>
    <div *ngIf="alreadyActiveAlert" class="alert alert-warning" role="alert">
        User is already active
    </div>
    <div *ngIf="alreadyInactiveAlert" class="alert alert-warning" role="alert">
        User is already incative
    </div>
</div>